$ui-01: var(--vscode-menu-background, #252526);
$hover-ui: var(--vscode-list-hoverBackground, #2a2d2e);
$text-01: var(--vscode-foreground, #cccccc);
$field-01: $ui-01;

$link-01: $text-01;
$text-02: $text-01;
$icon-01: var(--vscode-foreground, #cccccc);
$selected-ui: var(--vscode-list-activeSelectionBackground, #1f466e);
$hover-primary: var(--vscode-button-hoverBackground, #1177bb);
$hover-primary-text: $text-01;
$focus: var(--cds-hover-primary);
$active-primary: var(--cds-hover-primary);
$interactive-01: var(--vscode-button-background, #0e639c);

@import "carbon-components/scss/globals/scss/css--helpers";
@import "carbon-web-components/scss/components/button/button.scss";
@import "carbon-web-components/scss/components/dropdown/dropdown.scss";
@import "carbon-web-components/scss/components/tile/tile.scss";

body {
  color: $text-01;
  background-color: transparent;
  font-family: var(--vscode-font-family, "Segoe WPC", "Segoe UI", sans-serif);
  line-height: 1;
}

p {
  font-size: var(--vscode-font-size, 13px);
}

.bx--btn {
  min-height: 1.5rem;
  padding: .5rem 1rem;
}

vsch-drag-tile {
  display: block;
}

.bx--tile {
  padding: 1rem;
}

::part(link) {
  text-decoration: none !important;
}

svg {
  color: red !important;
  fill: red !important;
}